body {
    font-family: 'Comfortaa', cursive;
    width: 600px;
    margin: 0 auto;
    background: rgb(87,99,99);
    background: linear-gradient(90deg, rgba(87,99,99,1) 0%, rgba(2,182,182,1) 50%, rgba(33,70,70,1) 100%);
}

.container {
    text-align: center;
    background-color: #147373;
    color: #e5e0a9;
    padding: 20px 0;
    border-radius: 0 0 10px 10px;
}

.todo__header {
    padding-bottom: 70px;
}

.todo__title {
    font-size: 64px;
}

.todo__input {
    width: 35%;
    height: 30px;
    background: rgb(5, 72, 72) 50%;
    padding-left: 10px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    color: #f1ebac;
}

.todo__input::placeholder {
    color: #988e5e;
}

.header__button {
    width: 50px;
    height: 30px;
    color: #0ec241;
    font-size: 20px;
}

.todo__items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo__item {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d9d49c;
    font-size: 18px;
}

.todo__buttons {
    width: 11%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    color: red;
}

.todo__checkbox {
    width: 13px;
    height: 13px;
}

.todo__button {
    cursor: pointer;
}

.checked {
    opacity: .6;
    text-decoration: #f30776 line-through 3px;
}